{% extends 'main/base.html'%}
{% load static %}
{% block tp %}
    <link rel="stylesheet" href="{% static 'assets6/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf360ade9b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="intro">
      <div class="container">
        {% if request.user.is_authenticated %}
           <div class="intro__container">
        <a class="btn" href ="/create_event">Создать мероприятие</a>
               </div>
    {% else %}
          <div class="intro__container">
        <a class="btn" href ="/enter" >Создать мероприятие</a>
               </div>
    {% endif %}
        {% if evnts %}
        {% for ev in evnts %}
          {%if ev.is_ok%}
                <div class="intro__container2">
                    <h1> {{ev.name_e}} </h1>
                    {% autoescape on %}
                    <p>{{ev.about|linebreaks|truncatewords:30}}</p>
                    {% endautoescape %}
                    <p>{{ev.time}}</p>
                    <a href ="{{ ev.get_absolute_url }}">Подробнее о мероприятии</a>

              </div>
          <p></p>
          {%endif%}

        {% endfor %}
    {% else %}
        <p>Ближайших мероприятий нет</p>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block title %}События{% endblock %}

