{% extends 'main/base.html'%}
{% block title %}Подробнее о мероприятии {{event.name_e}}{% endblock %}
{% load static %}
{% load static %}
{% block tp %}
<link rel="stylesheet" href="{% static 'assets3/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf360ade9b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="intro">
    <center>
<h1>{{event.name_e}}</h1>
<i>{{event.evtype}}</i>
{{event.about|linebreaks}}
<p><b>Дата и время проведения: {{event.time}}</b></p>
</center>
</div>
{% endblock %}