{% extends 'main/base.html'%}
{% load static %}
{% block tp %}
    <link rel="stylesheet" href="{% static 'assets3/css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cf360ade9b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<div class="intro">
            <div class="container">
                <div class="intro__container">
                    <p class="intro__suptitle">Мероприятие успешно создано и отправлено на рассмотрение модератора. Оно отобразится во вкладке "мероприятия", когда модератор его одобрит.</p>
                    <a href="/events" class="btn">Ок</a>
                </div>
            </div>
        </div>
{% endblock %}